*.log
*.out
*.csv
*.txt
*.xlsx
*.xls
*.xml
*.kml
*.html
*.png
*.jpg
*.svg
*.pid
*.pyc
*.mp3
*.wav
*.exe
*.flac
*.zip
*.7z
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.sqlite
*.*~
__pycache__
.ipynb_checkpoints
.cache
.*.lock
