*.log
*.out
*.csv
*.txt
*.xls
*.xlsx
*.xml
*.kml
*.html
*.pdf
*.ppt*
*.ico
*.png
*.jpg
*.svg
*.wepb
*.pid
*.pyc
*.mp3
*.wav
*.exe
*.flac
*.zip
*.7z
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.sqlite
*.*~
__pycache__
.ipynb_checkpoints
.cache
.*.lock
*old.*

tests/tmp
build
dist
pyaudisam.egg-info
