*.log
*.out
*.csv
*.txt
*.xlsx
*.xls
*.xml
*.kml
*.html
*.pdf
*.ppt*
*.ico
*.png
*.jpg
*.svg
*.pid
*.pyc
*.mp3
*.wav
*.exe
*.flac
*.zip
*.7z
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.sqlite
*.*~
__pycache__
.ipynb_checkpoints
.cache
.*.lock
*old.*

tmp
ACDC
PlateauFromages
odp2reveal
dr05-*
fontawesome*
trybu/Leaflet*
trybu/*.pdf
trybu/css
trybu/font
trybu/js
trybu/owl-carousel

autods/Distance*
autods/parallel
autods/tmp

*/fichiers
*/enregistrements

basic-3d-surface.ipynb
plotly-cufflinks-demo.ipynb
py-simple-gui-hello-world.py

