include README.md
include LICENSE.txt
include requirements.txt

include pyaudisam/mcds/*.htpl
include pyaudisam/mcds/*.txt
include pyaudisam/report/*.css
include pyaudisam/report/*.svg

include tests/requirements.txt
include tests/*.py
include tests/*.ipynb
include tests/*.js

include tests/refin/*.txt
include tests/refin/*.xlsx
include tests/refin/*.ods
include tests/refin/*.odt

include tests/refout/*.txt
include tests/refout/*.xlsx
include tests/refout/*.ods
prune tests/refout/dist-order-sens-min

include docs/howto-acdc19-nat/*.md
include docs/howto-acdc19-nat/*.xlsx
exclude docs/howto-acdc19-nat/*.autogen.xlsx
include docs/howto-acdc19-nat/*.py
include docs/howto-acdc19-nat/*.ipynb
include docs/howto-acdc19-nat/*.js
include docs/howto-acdc19-nat/*.kml

include docs/how-it-works/*.md
include docs/how-it-works/common/*.svg
include docs/how-it-works/common/*.css
include docs/how-it-works/preanlys/*.html
include docs/how-it-works/preanlys/*.jpg
include docs/how-it-works/preanlys/*.xlsx
include docs/how-it-works/preanlys/*.py
include docs/how-it-works/preanlys/*.log
include docs/how-it-works/preanlys/PrunModu-ab-10mn-m-uni-cos-f3smf1_a/*.txt
include docs/how-it-works/preanlys/PrunModu-ab-10mn-m-uni-cos-f3smf1_a/*.png
include docs/how-it-works/preanlys/PrunModu-ab-10mn-m-uni-cos-f3smf1_a/*.html
include docs/how-it-works/preanlys/SylvAtri-ab-10mn-m-haz-cos-fx8uk14r/*.txt
include docs/how-it-works/preanlys/SylvAtri-ab-10mn-m-haz-cos-fx8uk14r/*.png
include docs/how-it-works/preanlys/SylvAtri-ab-10mn-m-haz-cos-fx8uk14r/*.html

include docs/how-it-works/optanlys/*.html
include docs/how-it-works/optanlys/*.jpg
include docs/how-it-works/optanlys/*.xlsx
include docs/how-it-works/optanlys/*.py
include docs/how-it-works/optanlys/*.log
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-la-ma-7ak3cu9l/*.txt
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-la-ma-7ak3cu9l/*.png
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-la-ma-7ak3cu9l/*.html
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-la-ra-ma-90vq_6nr/*.txt
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-la-ra-ma-90vq_6nr/*.png
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-la-ra-ma-90vq_6nr/*.html
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-ma-w3hq64b3/*.txt
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-ma-w3hq64b3/*.png
include docs/how-it-works/optanlys/SylvAtri-ab-10mn-m-haz-pol-ma-w3hq64b3/*.html

prune tmp
